/* ==========================================================================
   Just the sliders (carousel and slider)
   ========================================================================== */

.loop-container {
    &.loop-layout-floorplancarousel,
    &.loop-layout-floorplancarousel-detailed,
    &.loop-layout-floorplanslider,
    &.loop-layout-floorplanslider-detailed {
        opacity: 0;
        transition: 1s opacity ease;

        &.slick-initialized {
            opacity: 1;
        }

        .slick-dots {
            padding: 0;
            margin: 0;
        }
    }
}

.section.dark,
.section.background-image {
    .loop-layout-floorplancarousel,
    .loop-layout-floorplancarousel-detailed,
    .loop-layout-floorplanslider,
    .loop-layout-floorplanslider-detailed {
        .slick-dots button,
        .slick-dots button:before {
            color: white;
        }
    }
}

/* ==========================================================================
   Just the small layouts (grids and carousels)
   ========================================================================== */

.loop-container {
    &.loop-layout-floorplancarousel,
    &.loop-layout-floorplancarousel-detailed,
    &.loop-layout-floorplangrid,
    &.loop-layout-floorplangrid-detailed {
        padding-top: 0;

        .floorplans {
            background: transparent;
            padding: 20px;

            .loop-item-inner {
                box-shadow: 0 0 20px 0 rgba(black, 0.3);
                background: white;
                border-radius: 10px;
                padding: 20px;
                position: relative;
                overflow: hidden;
                transition: .5s all;
                text-align: center;
            }

            .featured-image {
                width: 100%;
                height: 0;
                padding-top: 85% !important;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        .edit-floorplans {
            a {
                color: white !important;
                font-size: 13px !important;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .buttonswrap {
            margin: 20px 0;
        }

        h3 {
            margin-bottom: 20px;
        }

        .button {
            margin: 2px !important;
            padding: 10px;
            font-size: 13px;
            display: inline-block;
            min-width: auto;
        }

        .bedsbathswrap {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            margin-bottom: -30px;

            @include mobile {
                flex-flow: column;
                margin-bottom: -15px;
            }


            > div {
                width: calc( 100% / 2 );
                margin-bottom: 30px;

                @include mobile {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
