/* ==========================================================================
   Filters
   ========================================================================== */

.floorplanlinks {
    text-align: center;
}

/* ==========================================================================
   Defaults
   ========================================================================== */

.loop-container {
    .entry.floorplans {
        text-align: center;
        background-color: white;
        padding: 20px;

        .info-wrap {
            display: flex;
            width: 100%;
            flex-flow: row wrap;

            > div {
                flex: 0 1 auto;
                width: calc( 100% / 2 );
                margin: 10px 0;
            }

            .label {
                font-weight: bold;
            }
        }

        .button.disabled {
            background-color: rgba(black, 0.15);
            color: #888;
        }

        .button {
            display: inline-block;
            margin: 0 2px;
        }
    }
}

/* ==========================================================================
   Just the sliders (carousel and slider)
   ========================================================================== */

.loop-container {
    &.loop-layout-floorplancarousel,
    &.loop-layout-floorplancarousel-detailed,
    &.loop-layout-floorplanslider,
    &.loop-layout-floorplanslider-detailed {
        opacity: 0;
        transition: 1s opacity ease;

        &.slick-initialized {
            opacity: 1;
        }

        .slick-dots {
            padding: 0;
            margin: 0;
        }

        .floorplans {
            margin: 0 10px 10px;
        }
    }
}

.section.dark,
.section.background-image {
    .loop-layout-floorplancarousel,
    .loop-layout-floorplancarousel-detailed,
    .loop-layout-floorplanslider,
    .loop-layout-floorplanslider-detailed {
        .slick-dots button,
        .slick-dots button:before {
            color: white;
        }
    }
}

/* ==========================================================================
   Just the small layouts (grids and carousels)
   ========================================================================== */

.loop-container {
    &.loop-layout-floorplancarousel,
    &.loop-layout-floorplancarousel-detailed,
    &.loop-layout-floorplans,
    &.loop-layout-floorplans-detailed {
        padding-top: 0;

        .floorplans {
            .featured-image {
                width: 100%;
                height: 0;
                padding-top: 85% !important;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        .edit-floorplans {
            a {
                color: #666 !important;
                font-size: 13px !important;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .buttonswrap {
            margin: 20px 0;
        }
    }
}
