/* ==========================================================================
   Grid
   ========================================================================== */

.loop-container.loop-layout-floorplans,
.loop-container.loop-layout-floorplans-detailed {
    display: flex;
    flex-flow: row wrap;
    min-height: 700px;
    justify-content: center;
    width: calc( 100% + 40px );
    margin-left: -20px;
    margin-right: -20px;

    @include mobile {
        min-height: 250px;
    }


    .floorplans {
        width: calc( 100% / 3 - 20px );
        margin: 0 10px 20px;

        @include tablet {
            width: calc( 100% / 2 - 20px );
        }


        @include mobile {
            width: calc( 100% - 20px );
        }
    }
}
